{{- if .Values.config.sonar.enabled -}}
{{- $create := .Values.global.serviceAccount.create -}}
{{- if hasKey .Values.config.sonar.serviceAccount "create" -}}
{{- $create = .Values.config.sonar.serviceAccount.create -}}
{{- else if eq .Values.serviceAccount.create false -}}
{{- $create = .Values.serviceAccount.create -}}
{{- end -}}
{{- if $create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ketch.transponder.sonar.serviceAccountName" . }}
  labels: {{ include "ketch.transponder.sonar.labels" . | nindent 4 }}
  {{- /*
  Any annotations added to this specific serviceAccount takes precedence. But also use the ones added to the global value.
  Utilize mergeOverwrite to combine the two dictionaries.
  */ -}}
  {{- $annotations := mergeOverwrite
    (deepCopy .Values.global.serviceAccount.annotations)
    (.Values.config.sonar.serviceAccount.annotations)
    (fromYaml (include "ketch.transponder.sonar.annotations" .))
  -}}
  {{- if $annotations }}
  annotations:
    {{- toYaml $annotations | nindent 4 }}
  {{- end }}
{{- end -}}
{{- end -}}
