{{- if .Values.config.sonar.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ketch.transponder.sonar.fullname" . }}
  labels: {{ include "ketch.transponder.sonar.labels" . | nindent 4 }}
  {{- /*
  Any annotations added to this specific service takes precedence. But also use the ones added to the global value.
  Utilize mergeOverwrite to combine the two dictionaries.
  */ -}}
  {{- $annotations := mergeOverwrite
    (deepCopy .Values.global.service.annotations)
    (.Values.config.sonar.service.annotations)
    (fromYaml (include "ketch.transponder.sonar.annotations" .))
  -}}
  {{- if $annotations }}
  annotations:
    {{- toYaml $annotations | nindent 4 }}
  {{- end }}
spec:
  type: {{ (.Values.config.sonar.service).type }}
  {{- if and (eq .Values.config.sonar.service.type "LoadBalancer") .Values.config.sonar.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges: {{- toYaml .Values.config.sonar.service.loadBalancerSourceRanges | nindent 4 }}
  {{- end }}
  ports:
    - port: {{ (.Values.config.sonar.service).port }}
{{- /*
peter @ 2023-07-05: This was incorrectly linked to .Values.config.sonar.listen so still needs to be supported.
Clean this up in V2.
*/}}
      targetPort: {{ (.Values.config.sonar.service).listen | default .Values.config.sonar.listen | default "5000" }}
      protocol: TCP
      name: https
  selector: {{ include "ketch.transponder.sonar.matchLabels" . | nindent 4 }}
{{- end }}
